:root {
  --black: #000000;
  --primary: #006bff;
  --primary-bg: #dbe9ff;
  --grey-bg: #fbfbfb;
  --grey: #cecece;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.main-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.container__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--black);
}
.container__left__title {
  font-family: "Inter";
  font-size: 96px;
  line-height: 86px;
  color: white;
}
.container__left__desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: white;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 560px;
    max-height: 500px;
    max-width: 1000px;
  }
}
