:root {
  --black: #000000;
  --primary: #006bff;
  --primary-bg: #dbe9ff;
  --grey-bg: #fbfbfb;
  --grey: #cecece;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.main-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.container__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--black);
}
.container__right__title {
  font-family: "Inter";
  font-size: 96px;
  line-height: 86px;
  color: white;
}
.container__right__desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: white;
}
.container__left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 20px;
  background: var(--white);
}
.container__left__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 26.3454px;
  line-height: 32px;
}

.calendar {
  display: grid;
  gap: 10px;
}
.calendar__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.calendar__header button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.calendar__header__month {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10.5382px;
  line-height: 21px;
}
.calendar__grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(25px, 50px));
  grid-auto-rows: auto;
  row-gap: 5px;
  column-gap: 10px;
  justify-items: center;
  justify-content: center;
}
.calendar__grid span {
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 99px;
  font-family: "Inter";
  font-size: 10px;
  user-select: none;
}
.calendar__grid span.active {
  color: var(--primary);
  background-color: var(--primary-bg);
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-height: 500px;
    max-width: 1000px;
  }
  .container__left__title {
    margin: 0 auto;
    font-size: 40px;
    line-height: 48px;
  }

  .calendar__header__month {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }
  .calendar__grid span {
    font-size: 14px;
    line-height: 24px;
  }
}
